{% extends 'adminMenu.html.twig' %}

{% block title %}Création d'un tag{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Création d'un tag</h1>

    {{ form(createTagForm) }}
</div>
{% endblock %}