{% extends 'adminMenu.html.twig' %}

{% block content %}

	<a href="{{ path('app_admin_tags_list') }}">
		<i class="fa-solid fa-arrow-left-long"></i>
		Retour à la liste des tag</a>
	<h1>Nom du tag :
		{{ tag.name }}
	</h1>
{% endblock %}
