{% extends 'adminMenu.html.twig' %}

{% block title %}Création d'une catégorie{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Création d'une catégorie</h1>

    {{ form(createCategoryForm) }}
</div>
{% endblock %}